# Entornos Virtuales de Python
venv/
.venv/
env/
ENV/

# Archivos compilados y cachés de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Variables de Entorno y Credenciales
.env

# Archivos de empaquetado y compilación (PyInstaller)
build/
dist/
*.spec

# Editor / IDE (VS Code)
.vscode/
.idea/

# Archivos de datos de entrada (Excel / CSV de prueba)
*.xlsx
*.xls
*.csv

# Archivos de base de datos o logs temporales
*.mdf
*.ldf
*.log